.quest {
    width: 75vw;
    height: 35vw;
    background: var(--fundo-um);
    /* background: rgba(255, 255, 255, .05); */
    /* background: linear-gradient(to bottom,rgba(255,255,255,.08) 0%,rgba(255,255,255,.03) 100%); */
    border-radius: .8vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
}

.quest_real {
    position: absolute;
    height: 13vw;
    width: 41vw;
    top: 5vw;
    left: 27vw;
}

#quest {
    position: absolute;
    top: 5.5vw;
    left: 2vw;
    font-size: 1.6vw;
}

.h1 {
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-70%);
    font-size: 1.7vw;
}

.opcoes {
    position: absolute;
    bottom: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100vw;
}

#a,
#b,
#c,
#d {
    color: #ffffff;
    border-radius: .5vw;
    border: none;
    background: var(--cor-dois);
    font-family: 'Montserrat', sans-serif;
    width: 16.9vw;
    height: 11vw;
    margin: .75vw;
    margin-top: 89vw;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 1vw;
    overflow: auto;
}

#a:hover,
#b:hover,
#c:hover,
#d:hover {
    transform: scale(1.03);
    background: var(--cor-um);
    border: solid .1vw rgb(19, 127, 216);
}

.botoes::-webkit-scrollbar {
    width: .4vw;
}


.botoes::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* .botoes::-webkit-scrollbar-track {
    background-color: transparent;
} */

.sla {
    position: absolute;
    top: -1.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 12.5vw;
    height: 3vw;
    background: var(--cor-dois);
    border: none;
    border-radius: .3vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
    font-size: 1.4vw;
    font-weight: 500;
}

.sla>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status {
    position: absolute;
    font-size: 1.2vw;
    background-color: rgb(0, 0, 0);
    width: 20vw;
    border-radius: 1vw;
    left: 1.5vw;
    top: 2.5vw;
    border: solid .125vw var(--cor-dois);
    padding: 0 1.5vw 1.5vw 0;
    padding: 2vw;
}

.status>h2 {
    width: 50%;
    padding: .65vw  0 .65vw 0;
    display: inline-block;
}

.bonus {
    position: absolute;
    right: 1.35vw;
    top: 4vw;
    width: 4.1vw;
    font-size: .8vw;
    color: var(--color);
    text-align: center;
}

#pular, #meio_res, #dica{
    margin: 1vw 0 .58vw 0;
    width: 4vw;
    height: 3vw;
    border-radius: 100vw;
    border: .2vw solid var(--cor-dois);
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
    font-size: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pular:hover, #meio_res:hover, #dica:hover{
    transform: scale(1.05);
}


#dicaText{
    display: none;
    position: absolute;
    background: black;
    padding: 2vw 3vw 2vw 3vw;
    width: 25vw;
    left: 36.5vw;
    top: 9.5vw;
    font-size: 1.2vw;
}

#triangulo{
    display: none;
    position: absolute;
    top: 10vw;
    left: 64.95vw;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-bottom: 4vw solid rgb(0, 0, 0);
    transform: rotate(90deg);
}

#proximo {
    position: absolute;
    background-color: var(--cor-um);
    color: var(--color) ;
    font-family: 'Montserrat', sans-serif;
    border: solid .1vw rgb(19, 127, 216);
    border-radius: .35vw;
    font-size: 1.2vw;
    padding: .4vw 1vw .4vw 1vw;
    right: 1vw;
    top: 1vw;
}

#proximo:hover{
    transform: scale(1.05);
}
