@import url(inicio.css);
@import url(quest.css);
@import url(fim.css);

:root{
    --cor-um: transparent;
    --cor-dois: rgb(16, 118, 202);
    --fundo-um:rgb(22, 23, 26);
    --color: #c4c4c4;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
    background: #040507;
    font-family: 'Montserrat', sans-serif;
}

section {
    position: absolute;
}

/* .inicio{
    display: none;
} */

.quest{
    display: none;
}

.resultdo{
    display: none;
}